<h4>RaphaelJS Component</h4>
 <p>The canvas contents are taken from the <a href="http://raphaeljs.com/touches.html">Raphael touches</a> demo.</p>
{{raphael-c height="1000" width="500"}}

{{!--
</br>
{{raphael-c height="200" width="200"}}
--}}
